.FieldPostDetails{
    display: flex;
}
.PostDetails{
    margin: 5vw;
    font-size: 3vw;
}
.Field{
    display: flex;
    justify-content: start;
    align-items: end;
}
.FieldValue{
    display: flex;
    margin-left: 2vw;
    color: #af1010;
    font-size: 3vw;
}