.FieldPostDetails{
    display: flex;
}
.PostDetails{
    width: 70vw;
    height: 30vW;
    margin: 8vw 5vw 5vw 5vw;
    font-size: 3vw;
    background: #d99379;
    padding: 3vw;
    border-radius: 3vw;
    box-shadow: 3vw 3vw 3vw #607060;
}
.Field{
    display: flex;
    justify-content: start;
    align-items: end;
    font-size: 1.4vw;
}
.FieldValue{
    display: flex;
    margin-left: 2vw;
    color: #af1010;
    font-size: 2.4vw;
}