body{
    margin: 0;
    padding: 0;
    background: #a7c4a7;
}
.CarsContainer{
    display: flex;
    flex-direction: column;
}
.Buttons{
    display: flex;
    width: 110px;
    margin-left: 40px;
}
.ButPrev, .ButNext{
    margin: 6px;
    box-shadow: 3px 3px 3px grey;
}

