.Car{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    background: #94b794;
    border: solid 1px beige;
    margin: 2px;
    padding: 6px;
}
.Buttons{
    display: flex;
    justify-content: space-between;
}
.ButUpdate, .ButDelete{
    margin: 6px;
    box-shadow: 3px 3px 3px grey;
}