.Post{
    width: 82%;
    background: #d99379;
    padding: .5vw;
    margin: .7vw;
    border-radius: .3vw;
    box-shadow: .3vw .3vw .3vw #607060;
}
.Field{
    color: whitesmoke;
    font-size: 1vw;
    margin-top: .6vw;
}
.FieldValue{
    margin-left: 0.5vw;
    font-size: 1.8vw;
}
.PostField{
    display: flex;
}
button{
    border-radius: .3vw;
    box-shadow: .3vw .3vw .3vw #607060;
    font-size: 1vw;
}