body{
    background: grey;
}
.Launches{
    display: flex;
    flex-flow: row wrap;
    background: grey;
}
.H2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}