body{
    margin: 0;
}
.Launch{
    width: calc(14% - 1.75vw);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #0f0646;
    color: aquamarine;
    padding: .8vw;
    margin: .2vw;
}
.MissionNameLaunch{
    color: #ffa600;
}